---
import BaseLayout from '../layouts/BaseLayout.astro';
import PublicationFilter from '../components/PublicationFilter.tsx';
import { getEntry } from 'astro:content';

const data = await getEntry('publications', 'publications');
const publications = data.data.publications;
---

<BaseLayout title="Publications" description="Publications of Sebastian Reboul">
  <h1>Publications</h1>

  <PublicationFilter publications={publications} client:load />
</BaseLayout>