---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const data = await getEntry('talks', 'talks');
const talks = data.data.talks;
---

<BaseLayout title="Talks" description="Talks and presentations by Sebastian Reboul">
  <h1>Talks</h1>

  <ul>
    {talks.map(talk => (
      <li>
        <strong>{talk.title}</strong><br />
        {talk.event}, {talk.location}<br />
        {new Date(talk.date).toLocaleDateString()}<br />
        {talk.url && <a href={talk.url}>Link</a>}
      </li>
    ))}
  </ul>
</BaseLayout>